<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragment/fragment :: heading"></head>
<body>
<h1>Add Student</h1>
<form th:method="POST" th:object="${student}">
    <div>
        <span th:errors="*{studentFirstName}"></span>
        <label th:for="studentFirstName">First Name</label>
        <input th:type="text" th:field="*{studentFirstName}"/>
    </div>
    <div>
        <span th:errors="*{studentMiddleInitial}"></span>
        <label th:for="studentMiddleInitial">Middle Initial</label>
        <input th:type="text" th:field="*{studentMiddleInitial}"/>
    </div>
    <div>
        <span th:errors="*{studentLastName}"></span>
        <label th:for="studentLastName">Last Name</label>
        <input th:type="text" th:field="*{studentLastName}"/>
    </div>
    <button> Submit</button>
</form>
</body>
</html>