<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragment/fragment :: heading"></head>
<body class="loginPage">
<div class="image">
    kTesting
</div>
<form class="loginForm" method="post" th:object="${teacher}">

    <div class="field">
        <label class="label" th:for="title">Title</label>
            <span th:errors="*{title}"></span>
                <div class="control">
                    <div class="select">
                        <select  th:field="*{title}" required>
                            <option value="">Title</option>
                            <!--  teacherTitle was the name of the key-value pair that holds all of the values for the title selections -->
                            <option th:each="title: ${teacherTitle}"
                                    th:text="${title.prefix}" th:value="${title}">
                            </option>
                        </select>
                    </div>
            </div>

    </div>

    <div class="field">
        <label class="label" th:for="teacherFirstName">First Name</label>
            <span th:errors="*{teacherFirstName}"></span>
            <div class="control">
                <input class="input name" th:field="*{teacherFirstName}" placeholder="First Name">
            </div>
    </div>

    <div th:class="field">
        <label class="label" th:for="teacherMiddleInitial">Middle Initial</label>
        <span th:errors="*{teacherMiddleInitial}"></span>
        <div th:class="control">
            <input class="input middle" th:field="*{teacherMiddleInitial}" placeholder="Initial">
        </div>
    </div>

    <div th:class="field">
        <label class="label" th:for="teacherLastName">Last Name</label>
        <span th:errors="*{teacherLastName}"></span>
        <div th:class="control">
            <input class="input name" th:field="*{teacherLastName}" placeholder="Last Name">
        </div>
    </div>
    <button class="button is-link">Submit</button>
</form>

</body>
</html>