<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="./fragment/fragment :: heading"></head>
<body>
<form method="POST" th:object="${teacher}">
    <div>
        <span th:errors="*{title}"></span>
        <label th:for="title"></label>

        <select required id="title" name="title">
            <option th:each="titles :${allTitles}"
                    th:text="${titles.prefix}" th:value="${titles}" th:selected="${titles}==${teacher.title}">

            </option>

        </select>
    </div>
    <div>
        <span th:errors="*{teacherFirstName}"></span>
        <label th:for="teacherFirstName">First name</label>
        <input th:field="${teacher.teacherFirstName}"/>
    </div>
    <div>
        <span th:errors="*{teacherMiddleInitial}"></span>
        <label th:for="teacherMiddleInitial"> Middle Initial</label>
        <input th:field="${teacher.teacherMiddleInitial}"/>
    </div>

    <div>
        <span th:errors="*{teacherLastName}"></span>
        <label th:for="teacherLastName"></label>
        <input th:field="${teacher.teacherLastName}"/>
    </div>

    <button>Submit</button>
</form>
</body>
</html>