<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="./fragment/fragment :: heading"></head>
<body>
<h1 th:if="${teachers.size()>0}">List of Teachers</h1>
<h1 th:unless="${teachers.size()>0}">No teachers available</h1>
<div th:each="teach: ${teachers}">
    <span th:text="${teach.title.prefix}"></span>
    <span th:text="${teach.teacherFirstName}"></span>
    <span th:text="${teach.teacherMiddleInitial}"></span>
    <span th:text="${teach.teacherLastName}"></span>
    <a th:href="@{'../students/addStudent/' + ${teach.teacherId}}">Add Student</a>

</div>

</body>
</html>