<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List of Teachers</h1>
<div th:each="teacher: ${teachers}">
    <span th:text="${teacher.title.prefix}"></span>
    <span th:text="${teacher.teacherFirstName}"></span>
    <span th:text="${teacher.teacherMiddleInitial}"></span>
    <span th:text="${teacher.teacherLastName}"></span>
    <a th:href="@{'../students/addStudent/' + ${teacher.teacherId}}">Add Student</a>

</div>

</body>
</html>